---
layout: default
---

  <h2>I'm a well skilled web /software developer</h2>

  <p>
  If you need Freelance web and software development, short or long term projects you can start here. Need quick staff augmentation? I'm available remote or onsite with the resources to support you.Using Agile, Git or Cloud technologies? We practice those principals within projects as needed. </p>

  Services 
  <p>
  Our services are not limited to the ones listed below and we are very skilled in our business knowledge as well. Not finding what you need? Contact us so we can steer you to what you may need: </p>

  <ul>
   <li> Web and Site Design</li>
   <li>Database development</li>
   <li>Technical Consulting</li>
   <li>Business Consulting</li>
   <li>Software Development</li>
  </ul>

  About Me 

  <p>
  I'm a college graduate BA degree in Computer Technology with over 10+ years experience. I've worked in government, business, insurance and education arenas. I'm a freelancer on many topics not excluding Php, JQuery, JavaScript, CSS, HTML, LAMP, NodeJS, Bootstrap, WordPress, Ajax, SQL, MySQL, SQL Server. </p>

